//Footer区域
#footer-panel {
  width: 100%;
  background-color: #FFF;

  //链接区
  #link-section {
    width: 1200px;
    margin: 0 auto;
    padding:18px 0 28px 0;
    border-top: 1px solid #CCC;
    //连接列表
    #link-panel {
      width: 811px;
      > li {
        float: left;
        margin-right: 146px;
        > ul {
          > li {
            line-height: 180%;
            color: #333;
            font-size: 14px;
            > a {
              color: #AAA;
            }
          }
        }
      }
    }
    //二维码
    #qrcode {
      width: 200px;
      height: 96px;
      padding-left: 110px;
      background: url(../images/qrcode.png) no-repeat 0 center;
      background-size: 96px;
      >.code {
        font-weight: bold;
        font-family: Arial;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  //版权
  #copyright-panel {
    width:100%;
    background-color: #F5F5F5;
    height: 32px;
    > .content {
      width: 1140px;
      line-height: 32px;
      margin: 0 auto;
      text-align: center;
      color: #999;
      font-size: 14px;
    }
  }
}